{% extends 'base.html.twig' %}
{% block pagination %}
    {% if pagination is defined %}
        <ul class="pagination">

            {% if   pagination.getCurrentPage()-1>=0 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagination.getCurrentPage()-1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..pagination.getNumPages() %}
                <li class="page-item"><a class="page-link" href="?page={{ i-1 }}">{{ i }}</a></li>
            {% endfor %}
            {% if pagination.getCurrentPage()+1<pagination.getNumPages() %}
                <li>

                    <a class="page-link" href="?page={{ pagination.getCurrentPage()+1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    {% endif %}

{% endblock %}
