{% extends 'base.html.twig' %}

{% block title %}Новости{% endblock %}

{% block body %}


<div class="container">
    <h1>Новости</h1>

        {% for news in newsList %}
            <a class="text-decoration-none" href="/news/{{ news.getSlug() }}">
                <div class="row shadow-sm p-3 mb-5 bg-light rounded ">

                    <div class="col-sm-9 text-dark font-weight-bold  ">{{ news.getTitle() }}</div>
                    <div class="col-sm-9 text-dark font-italic small">{{ news.getPublicationDt().date|date("m.d.Y G:i:s") }}</div>
                    <div class="col-sm-9 text-dark">{{ news.getShortText() }}</div>
                </div>
            </a>
        {% endfor %}


        </tbody>


    </div>

</div>

{% endblock %}
