<div class="container ">
    <div class="row shadow-sm p-3 mb-5 bg-light rounded">
<h1 class="col-sm-9 text-dark">{{ news.getTitle() }}</h1>
        <div class="col-sm-9 text-dark">{{ news.getPublicationDt().date|date("m.d.Y G:i:s") }}</div>
        <div class="col-sm-9 text-dark">{{ news.getText() }}</div>
    </div>
</div>